* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
}

body {
    margin: 0;
    background-color: #f6faff;
    color: #6c7686;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
    color: #2d3133;
    font-size: 14px;
}

a:hover {
    transition: all 0.3s ease;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-weight: 600;
}
/* header ================================ */
header {
    height: 56px;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f4f9;
}

.header-logo {
    margin-left: 56px;
    font-weight: 600;
    font-size: 20px;
    line-height: 56px;
    color: #6c7686;
    display: inline;
}

.header-logo:hover {
    color: #426ace;
}

/* container ================================ */
.container {
    width: 80%;
    min-width: 360px;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 56px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.container-header h1 {
    font-size: 24px;
}

/* index ================================ */
.table-head {
    display: flex;
    background-color: #b7cadc;
    border-radius: 2px 2px 0 0;
    height: 44px;
    font-size: 16px;
    line-height: 46px;
    color: #ffffff;
    justify-content: space-around;
}